*
!.gitignore

# DOCUMENTATION
!*.md

# BUILD SYSTEMS
!.cargo/
!.cargo/config.toml
!Cargo.toml
!Cargo.lock
!justfile
!.npmrc
!package.json
!package-lock.json
!bun.lock
!bun.lockb
!yarn.lock
!tsconfig.json
!tsconfig.*.json
!tscircuit.config.json

# FORMATTERS
!.rustfmt.toml
!.taplo.toml

# LINTERS
!.clippy.toml

# SOURCES
!build.rs
!*.js
!*.jsx
!*.mjs
!*.cjs
!*.ts
!*.tsx
!src/
!tools/
!.agents/
!.agents/**

# LINKER
!memory.x
