*
!.gitignore

# DOCUMENTATION
!*.md

# BUILD SYSTEMS
!.cargo/
!.cargo/config.toml
!Cargo.toml
!Cargo.lock
!justfile

# FORMATTERS
!.rustfmt.toml
!.taplo.toml

# LINTERS
!.clippy.toml

# SOURCES
!build.rs
!src/
!tools/

# LINKER
!memory.x
